.peopleAreTalkingAboutFork {
  background: url("./img/pta/ptabg.png") center;
  min-width: 320px;
  padding-top: 50px;
  background-size: cover; }
  @media (min-width: 481px) {
    .peopleAreTalkingAboutFork {
      padding-top: 86px;
      background: url("./img/pta/tabletbg.png") center;
      background-size: cover; } }
  @media (min-width: 993px) {
    .peopleAreTalkingAboutFork {
      padding-top: 108px;
      background: url("./img/pta/desktopbg.png") center;
      background-size: cover; } }

.pTA__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF; }

.pTA__bloks {
  margin-top: 30px;
  text-align: center; }
  @media (min-width: 481px) {
    .pTA__bloks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline; } }

.pTA__blok {
  padding: 15px 0 15px; }
  @media (min-width: 481px) {
    .pTA__blok {
      flex-basis: 49%; } }
  @media (min-width: 993px) {
    .pTA__blok {
      flex-basis: 30%; } }

.pTA__blok-text {
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 15px 0 30px; }

.pta-subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 21px;
  color: #A291A5;
  text-align: center;
  border-bottom: 2px solid #645766;
  padding: 15px 15px 15px; }
  @media (min-width: 993px) {
    .pta-subtitle {
      padding: 15px 200px 15px; } }
