.revolutionaryEditor {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  padding-top: 93px; }

.revEd__title {
  font-size: 26px;
  line-height: 28px;
  color: #635C73;
  text-transform: uppercase;
  margin-bottom: 27px;
  font-weight: 700;
  padding: 0 25px; }

.revEd__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-bottom: 26px;
  padding: 0 25px; }

.revED__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 120px; }

.revEd__btn-list {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  background-color: #F3F4F6;
  border-radius: 6px;
  border: 1px solid;
  border-color: #D5D5D5;
  margin-left: 10px;
  margin-bottom: 10px; }

.revEd__btn-link {
  font-weight: bold;
  padding: 6px 7px;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  color: black; }

.revEd__btn__social-count {
  text-decoration: none;
  padding: 6px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  background-color: white;
  color: black; }

@media all and (min-width: 481px) and (max-width: 992px) {
  .revEd__title {
    font-size: 42px;
    line-height: 42px; }
  .revEd__subtitle {
    font-size: 21px;
    line-height: 32px; } }

@media all and (min-width: 993px) {
  .revEd__title {
    font-size: 54px;
    line-height: 54px; }
  .revEd__subtitle {
    font-size: 21px;
    line-height: 32px;
    padding: 0 235px; } }
