.SubscriptionPricing {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("./img/SubscriptionPricing/testmonials-bg 2.png") bottom;
  background-size: cover; }

.pricing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.SubscriptionPricing__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: white;
  margin-bottom: 32px; }

.SubscriptionPricing__table {
  width: 255px;
  height: 460px;
  margin-bottom: 20px; }

.SubscriptionPricing__name {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: white;
  background: rgba(255, 255, 255, 0.11);
  padding: 31px 0 24px 0; }

.SubscriptionPricing__PriceInfo___Dark {
  width: 301px;
  margin-bottom: 20px; }

.SubscriptionPricing__name___dark {
  background: rgba(0, 0, 0, 0.11);
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  padding: 31px 0 24px 0; }

.SubscriptionPricing__PriceInfo {
  background: rgba(255, 255, 255, 0.06);
  height: 360px; }

.SubscriptionPricing___price {
  color: white;
  font-size: 60px;
  padding-bottom: 20px;
  padding-top: 30px; }

.SubscriptionPricing___price____span {
  font-size: 14px;
  color: white;
  opacity: .3; }

.SubscriptionPricing___price____span::after {
  content: '';
  display: block;
  width: 63px;
  border-bottom: 4px solid #8d81ac;
  margin: 35px 100px; }

.SubscriptionPricing___price____info {
  color: white;
  padding-bottom: 37px;
  text-transform: capitalize; }

.SubscriptionPricing___price____btn {
  width: 161px;
  height: 42px;
  background: rgba(119, 107, 121, 0.6);
  border: 1px solid transparent;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  cursor: pointer; }

.SubscriptionPricing___price____btn_____Dark {
  width: 193px;
  height: 55px;
  margin-top: 80px;
  margin-bottom: 47px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 50px;
  text-transform: uppercase;
  background: rgba(119, 107, 121, 0.6);
  color: #fff; }

.SubscriptionPricing__PriceInfo___Dark {
  background: rgba(0, 0, 0, 0.3); }

@media all and (min-width: 481px) and (max-width: 992px) {
  .SubscriptionPricing__title {
    font-size: 42px; }
  .SubscriptionPricing__table {
    padding: 45px; } }

@media all and (min-width: 993px) {
  .SubscriptionPricing__title {
    font-size: 42px;
    padding-top: 90px;
    padding-bottom: 40px; }
  .SubscriptionPricing__table {
    padding: 10px; } }
